body {
    background: #f8fafc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0;
    padding: 0;
}


button {
    margin-top: 0px;
    margin: 0;
    padding: 0;
    border: none;

}

.title_experiencia {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.title-wrapper {
    display: flex;
    gap: 36%;
}

.mid-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40%;
}

.titulos-datos {
    height: 0;
    border-top: 3px solid #0070ba;
    width: 100%;
    /* Cambia el porcentaje o usa px para ajustar */
    margin: 3px 0 24px 0;
}


.content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 35%
}

.detalle-vacante {

    width: 90%;
    margin: 60px auto 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(9, 35, 69, 0.10);
    padding: 36px 32px 28px 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;

}

.detalle-vacante h1 {
    color: #093545;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.detalle-vacante p {
    color: #222;
    font-size: 1.08em;
    margin: 0 0 6px 0;
    line-height: 1.5;
}

.detalle-vacante p b {
    color: #0070ba;
    font-weight: 600;
}

.detalle-vacante a,
button {
    margin-top: 18px;
    display: inline-block;
    background: #0070ba;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 27px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.2s;
}

button {
    padding: 10px 43%;
}

.detalle-vacante a:hover,
button:hover,
input:hover {
    background: #093545;
}

input[type="file"] {
    display: none;
}

.custom-file-label {
    margin-top: 18px;
    display: inline-block;
    background: #0070ba;
    color: #fff;
    padding: 9px 20%;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s;
}

.custom-file-label:hover {
    background: #005fa3;
}

form {
    display: flex;
    flex-direction: row;
    gap: 30%;
    justify-content: center;
    width: 100%;
}

.boton-container {
    width: 100%;
}

.pdf-container {
    width: 100%;
}